body {
    font-family: 'Roboto', sans-serif;

}
header {
    height: 9vh;
    background-color: black;
    color: white;
    justify-content: center;
    flex-flow: row nowrap;
    align-items: center;
    display: flex;
    border-bottom: 1vh;
    border-style: solid;
    border-color: white;
    position: sticky;
}

footer {
    height: 4vh;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
    align-items: center;
    border-top: 1vh;
    border-style: solid;
    border-color: white;
}


/*header logo*/
.logo {
    max-height: 9vh;
    max-width: 9vh;
}

/*end header-footer styles*/

main {
height:80vh;
display: grid;
grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
grid-template-columns: repeat(4, 1fr);
/*grid-gap:1rem;*/
overflow: scroll;

}



.card-wrapper {
    display: flex;
    justify-content: space-around;
    flex-flow: column nowrap;
    align-items: center;
    border-radius: .5rem;
    background-color: gray;
    color:white;
    margin: 1rem;
    padding: .5rem;
    box-shadow: 0 10px 6px -6px #777;
}


.profile-pic {
    max-width: 150px;
    border-radius: 50%;
    max-height: 150px;
}


.icons-wrapper {
    display: flex;
    flex-flow: row nowrap;
    padding-left: 1rem;
    padding-right: 1rem;

}


.name {
  padding: .5rem;
}



.icons {
    padding: .5rem;
}
